<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Cat vs ball of wool</title>


    <link rel="stylesheet" href="css/reset.css"/>


        <link rel="stylesheet" href="css/style.css"/>

        <script src='js/three.min.js'></script>
      <script src='js/TweenMax.min.js'></script>
      <script src='js/OrbitControls.js'></script>
      <script src='js/Cat.js'></script>

            <script src="js/index.js"></script>



  </head>

  <body>

    	<div id="world"/>


</div>

  </body>
</html>
